[submodule "public/js/vendors/async"]
	path = public/js/vendors/async
	url = https://github.com/caolan/async.git
[submodule "public/js/vendors/selectize.js"]
	path = public/js/vendors/selectize.js
	url = https://github.com/selectize/selectize.js.git
[submodule "public/js/vendors/Remodal"]
	path = public/js/vendors/Remodal
	url = https://github.com/VodkaBears/Remodal.git
[submodule "public/js/vendors/lodash"]
	path = public/js/vendors/lodash
	url = https://github.com/lodash/lodash.git
[submodule "public/js/vendors/requirejs"]
	path = public/js/vendors/requirejs
	url = https://github.com/requirejs/requirejs.git
[submodule "public/js/vendors/text"]
	path = public/js/vendors/text
	url = https://github.com/requirejs/text.git
[submodule "public/js/vendors/domReady"]
	path = public/js/vendors/domReady
	url = https://github.com/requirejs/domReady.git
[submodule "public/js/vendors/backbone"]
	path = public/js/vendors/backbone
	url = https://github.com/jashkenas/backbone.git
