- var bgUrl = function(text){ return 'background-image: url(\''+text+'\');'}
- var bgPHPFunction = function(text){ return 'background-image: url(\'<?php '+text+' ?>\');'}
- var bgFromFeatureImage = function(size, isIcon, id){ return 'background-image: url(\'<?php echo get_post_featured_img('+((size)?"\""+size+"\"":'null')+', '+(isIcon || 'false')+', '+(id || 'null')+'); ?>\');'}
