include _functions

mixin search-field(options)
    - options = options || {};
    - var _options = {label: options.label||'n/a', name: options.name || 'invalid'}
    .wrap-input(class!=options.name)
        select(class!=options.name, name!=_options.name)
            option(value!=options.name)!=options.name
            :php
                $acf_fields = get_pet_adoption_fields();
                foreach($acf_fields['#{_options.name}']['choices'] as $choice):
            option(value!=echo("$choice"))!=echo("$choice")
            :php
                endforeach;

mixin text-field(options)
    - options = options || {};
    - var _options = {label: options.label||'n/a', name: options.name || 'invalid', placeholder: options.placeholder || 'n/a'}
    .wrap-input(class!=options.name)
        label(for!=_options.name)!=_options.label
        input(type='text', name!=_options.name, placeholder!=_options.placeholder)