<div class="property"><h3 class="property__label"><%= data.label %></h3><select class="property__input <%= data.className %>"><% for (var propName in data.options) {
if (data.options.hasOwnProperty(propName)) { %><option value="<%= data.options[propName].value %>"><%= data.options[propName].label %> </option><% }
} %></select></div>