include ../../../../jade/includes/_functions
.container-pet
    .wrap-pet
        .pet
            .wrap-pet-name
                h2.pet-name!="<%= model.get('title')['rendered'] %>"
            .wrap-pet-photo
                .pet-photo(style!=bgUrl("<%= model.get('photo') %>"))
            .wrap-pet-info
                .pet-info
                    .wrap-pet-info-breed
                        p.pet-info-breed!="<%= model.get('acf')['breed'] %>"
                    .wrap-pet-info-size
                        p.pet-info-size!="<%= model.get('acf')['size'] %>"
                    .wrap-pet-info-sex
                        p.pet-info-sex!="<%= model.get('acf')['sex'] %>"
            .wrap-btn-more-info
                a.btn-more-info(href!="#<%= model.get('post_name')%>") More Info