.advanced-options-view {
  font-family: sans-serif;
  width: auto;
  display: none;

  &.remodal {
    display: inline-block;
  }

  &__wrap {

    .property {
      text-align: center;

      &__wrap {

      }
    }
  }


  .remodal-close{

    &:hover {
      background: none;
    }
  }

  .remodal-cancel,
  .remodal-confirm {
    border-radius: 0;
    margin: 0 6px;
  }

  .property {
    margin-bottom: 1em;
  }
}
