/*	==================================================
	Pet List View
	==================================================  */

.search-result {
  text-align: center;
}

.search-results__wrap {
  text-align: center;

  > .pet {
    display: inline-block;
    width: 15em;
  }
}

