/*	==================================================
	Pet View
	==================================================  */
$padding-pet-info-px-sans: 12;
.pet {
  padding: 2rem 1rem;


  .pet-photo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 5rem;
    width: 5rem;
    background: green center no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
  }

  .pet__wrap {
    //padding-left: 6rem;
  }

  .pet-name__text {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }

  .btn__link,
  .toggle__link {
    color: $color-link;
    white-space: nowrap;
  }
}
