/*	==================================================
	Search
	==================================================  */
$padding-input-fields-px-sans: 12;
#search {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  *, *:before, *:after {
    box-sizing: border-box;
    position: relative;
  }

  .entry-title,
  .search-cta__text {
    @extend %serif;
    padding: 1rem;
    text-align: center;
    background: $color-primary;
    color: white;
    margin: 0;

    > a {
      color: $color-primary-light;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .image,
  .search-fields,
  .instructions {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .search-fields {
    text-align: center;
    flex-shrink: 0;
    padding-left: 1em;
    padding-right: 1em;

    .search-fields__wrap {
      padding-bottom: 1em;
      display: inline-block;
    }
  }
  .image {
    flex-basis: 8em;
    height: 8rem;
    outline: 1px solid red;
    margin: 1em;

    .image__placeholder {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
  }

  .instructions {
    flex-basis: 15em;
    padding-left: 1em;
    padding-right: 1em;

    .instructions__heading {
      font-size: 1rem;
      padding-bottom: 0.5rem;
      margin: 0;
      border-bottom: 1px solid $color-border;
      font-weight: 600;
    }
  }

  .search__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;

    @media (max-width: 480px){
      font-size: .75em;
    }

    > * {
      max-width: 100%;
    }

  }

  .button {
    white-space: nowrap;
    margin-right: auto;

    &--advanced-options{
      max-width: 100%;
      white-space: normal;
    }

    &--submit {
      flex: 1 0 100%;

      .button__input {
        transition-duration: $duration-transition-short-ms;
        //@extend %button;
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
      }
    }
  }

  .field {
    &--species {

      .field__select {
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  .search-chips {
    padding: 0;
  }

  .prop-chip,
  .chip {
    cursor: pointer;
  }

  .chip,
  .prop-chip {
    transition: background-color $duration-transition-short-ms;
    display: inline-block;
    background-color: $color-secondary;
    border-radius: 1.75em;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: .5em .75em;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1;
    color: $color-white;

    &:hover {
      background-color: $color-secondary-dark;
    }

    i {
      font-size: 1.5em;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .chip,
  .prop-chip {

    .prop-label {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
    }

    i {
      vertical-align: middle;
      font-size: 1.5em;
    }
  }
}
